.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.GamesContainer {
  /* display: column; */
  /* margin: 0px auto; */
  position: relative;
  
}

.GamesContainerComp {
  position: absolute;
  top: 0;
  right: 60px;
}

.form-box {
  position: absolute;
  margin: 40px;
  /* border: red solid 2px; */
  /* display: flex !important; */
  /* width: 300px; */
  /* flex-direction: column !important; */
}

.place-bet-form {
  display: flex;
  
  /* flex-direction: column ; */
  width: 200px !important;
  /* border: blue solid 2px; */
}

.place-bet-dropdown {
  width: 200px !important;
}

.GameCardGroup {
  position: relative;
  left: 75px;
}

.selectedGame {
  border: green solid 2px !important;
  
}

.game {
  /* border: black solid 2px !important; */
  margin-right: 20px !important;
  margin-bottom: 20px !important;
}

.PlacedBetCardsGroup {
  position: relative;
  left: 225px;
  width: 750px;
}

/* Home Sub-Header */
.UpcomingGames {
  position: relative;
  left: 40px;
}

/* MyBets Sub-Header */
.YourBetsHeader {
  position: relative;
  left: 40px;
}
/* 
.AvailableBetsMainHeader {
  position: center;
} */

.AvailableBetsSubHeader {
  position: relative;
  left: 40px;
}

/* Available Bets Cards Group */
.AvailableBetsCardGroup {
  position: relative;
  left: 450px;
  width: 600px;
}

.NavTitle {
  position: relative;
  /* text-align: center; */
  left: 300px;
  color: white solid;
  bottom: 12px;
}