.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.GamesContainer {
  /* display: column; */
  /* margin: 0px auto; */
  position: relative;
  
}

.GamesContainerComp {
  position: absolute;
  top: 0;
  right: 60px;
}

.form-box {
  position: absolute;
  margin: 40px;
  /* border: red solid 2px; */
  /* display: flex !important; */
  /* width: 300px; */
  /* flex-direction: column !important; */
}

.place-bet-form {
  display: flex;
  
  /* flex-direction: column ; */
  width: 200px !important;
  border: blue solid 2px;
}

.place-bet-dropdown {
  width: 200px !important;
}

.GameCardGroup {
  position: relative;
  left: 75px;
}


/* .GameCard {
  ::selection { background: blue };
} */